@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Open Sans', sans-serif;
}

input{
    outline: none;
}


.fas{
    font-size: 1.6em;
    padding: 10px 15px ;
    cursor: pointer;
}

.btn-green{
    cursor: pointer;
    background: rgb(0,255,4);
    background: linear-gradient(103deg, rgba(0,255,4,1) 0%, rgba(45,167,0,1) 46%, rgba(14,117,0,1) 100%);
    border: none;
    color: white;
}

.btn-outline-green{
    border: 1px solid green;
    background-color: white;
    color: green;
}